<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pengpeng.elifeapplication"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取手机识别码需要添加的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_elife"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".newactivities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".newactivities.MediaPlayerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".newactivities.AudioListActivity"
            android:label="@string/title_activity_audio_list" />
        <activity
            android:name=".newactivities.NetworkAudioPlayerActivity"
            android:label="NetWorkAudioActivity"
             />
        <!--<activity-->
            <!--android:name=".newactivities.ExerciseActivity"-->
            <!--android:label="@string/title_activity_exercise"></activity>-->
    </application>

</manifest> <!-- <activity            android:name=".NetworkPlayerActivity"            android:label="@string/title_activity_network_player"></activity></application></manifest> -->
